# Import and view the datasets #

### Dependencies ###

In [1]:
import pandas as pd

#### Provisional_COVID-19_Deaths_by_HHS_Region__Race__and_Age ####

In [8]:
#Summary: Data to 9/27/2023.  See wonder.cdc.gov.  
#Deaths involving COVID-19 reported to NCHS by time-period.
#HHS region, race and Hispanic origin, and age group.

df_Provisional_COVID_19_Deaths = pd.read_csv("Provisional_COVID-19_Deaths_by_HHS_Region__Race__and_Age.csv")
df_Provisional_COVID_19_Deaths.head(1)

C:\Users\jerry\AppData\Local\Temp\ipykernel_8644\789935090.py:5: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_Provisional_COVID_19_Deaths = pd.read_csv("Provisional_COVID-19_Deaths_by_HHS_Region__Race__and_Age.csv")

,Data As Of,Start Date,End Date,Group,Year,Month,MMWR Week,Week-Ending Date,HHS Region,Race and Hispanic Origin Group,Age Group,COVID-19 Deaths,Total Deaths,Footnote
0,09/27/2023,12/29/2019,01/04/2020,By Week,2019/2020,NaN,1.0,01/04/2020,United States,Hispanic,0-4 years,0.0,104.0,NaN

#### biweekly_deaths_per_million ####

In [2]:
#Summary: 

df_biweekly_deaths_per_million = pd.read_csv("biweekly_deaths_per_million.csv")
df_biweekly_deaths_per_million.head(1)

,date,World,Afghanistan,Africa,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,...,Uruguay,Uzbekistan,Vanuatu,Vatican,Venezuela,Vietnam,Wallis and Futuna,Yemen,Zambia,Zimbabwe
0,2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### covid_19_clean_complete ####

In [3]:
#Summary: 
df_covid_19_clean_complete = pd.read_csv("covid_19_clean_complete.csv")
df_covid_19_clean_complete.head(1)

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean

#### day_wise ####

In [4]:
#Summary: 

df_day_wise = pd.read_csv("day_wise.csv")
df_day_wise.head(1)

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries
0,2020-01-22,555,17,28,510,0,0,0,3.06,5.05,60.71,6

#### full_grouped ####

In [5]:
#Summary: 

df_full_grouped = pd.read_csv("full_grouped.csv")
df_full_grouped.head(1)

,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region
0,2020-01-22,Afghanistan,0,0,0,0,0,0,0,Eastern Mediterranean

#### population-and-demography ####

In [6]:
#Summary: 

df_population_and_demography = pd.read_csv("population-and-demography.csv")
df_population_and_demography.head(1)

,Country name,Year,Population,Population of children under the age of 1,Population of children under the age of 5,Population of children under the age of 15,Population under the age of 25,Population aged 15 to 64 years,Population older than 15 years,Population older than 18 years,...,Population aged 15 to 19 years,Population aged 20 to 29 years,Population aged 30 to 39 years,Population aged 40 to 49 years,Population aged 50 to 59 years,Population aged 60 to 69 years,Population aged 70 to 79 years,Population aged 80 to 89 years,Population aged 90 to 99 years,Population older than 100 years
0,Afghanistan,1950,7480464,301735.0,1248282,3068855,4494349,4198587,4411609,3946595,...,757113,1241348,909953,661807,467170,271905,92691,9499,123,0.0

#### total_deaths_per_million ####

In [9]:
#Summary: 

df_total_deaths_per_million = pd.read_csv("total_deaths_per_million.csv")
df_total_deaths_per_million.head(1)

,date,World,Afghanistan,Africa,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,...,Uruguay,Uzbekistan,Vanuatu,Vatican,Venezuela,Vietnam,Wallis and Futuna,Yemen,Zambia,Zimbabwe
0,2020-01-03,0.375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### total_deaths_per_million ####

In [10]:
#Summary: 

df_total_deaths_per_million = pd.read_csv("total_deaths_per_million.csv")
df_total_deaths_per_million.head(1)

,date,World,Afghanistan,Africa,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,...,Uruguay,Uzbekistan,Vanuatu,Vatican,Venezuela,Vietnam,Wallis and Futuna,Yemen,Zambia,Zimbabwe
0,2020-01-03,0.375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### worldometer_data ####

In [11]:
#Summary: 

df_worldometer_data = pd.read_csv("worldometer_data.csv")
df_worldometer_data.head(1)

,Unnamed: 0.1,Unnamed: 0,Country_Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths_Per_Million,TotalTests,Tests/1M pop,WHO Region,Death_Pop_Ratio,Death_Pop_Ratio_Per_Millions
0,0,0,USA,North America,331198130.0,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas,491.560746,491.560746

####  ####

In [ ]:
#Summary: 

df = pd.read_csv(".csv")
df.head(1)